.admin_schedule_create_new {
	font-size: 100px;
	color:#415F96;
	cursor:pointer;
}

.admin_schedule_create_new:hover {
	color:#ccc;
}

.admin_schedule_create_form {
	margin-top:40px;
	border:0px solid red;
	font-size:20px;
	display: none;
}

.admin_schedule_create_form_controls {
	margin-top:40px;
	font-size:16px;
}

.admin_schedule_create_form_controls a {
	margin:0 10px;
	color:#ccc;
	border-bottom: 1px dotted #ccc;
	text-decoration:none;
}

.admin_schedule_create_form_controls a:hover {
	color:#f00;
	border-bottom: 1px dotted #f00;
}