.b-admin {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	color:#333;
}

.b-admin_header {
	float:right;
}

.b-admin__import-export-form {
	text-align:left;
	position:absolute;
	top:25px;
	left:50%;
	margin-left:-150px;
	padding-bottom:40px;
	border:1px solid red;
	box-shadow: 0px 0px 10px 0 #000;
	height:200px;
	width:300px;
	background: #FCF6DC;
	border:2px solid #333;
	z-index:1;
	display: none;
}

.b-admin__import-export-form_show {
	display: block;
}

.b-admin__form-control_text {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:100%;
	height:100%;
}

.b-admin_new-schedule {
	color:#ccc;
}

.b-admin__edit-event {
	border:1px solid #7c1212;
	border-width: 1px 0;
	padding:10px 0;
	width:100%;
	position: absolute;
	bottom:10px;
}

.b-admin__create-new {
	font-size: 140px;
	color:#415F96;
	cursor:pointer;	
}

.b-admin__create-new:hover {
	color: #ccc;
}

.b-admin__edit-form {
	margin-top:40px;
	border:0px solid red;
	font-size:20px;
	display:none;
}

.b-admin__form-controls {
	margin-top:40px;
	font-size:14px;
	text-align: center;
}

.b-admin_header .b-admin__form-controls {
	margin-top:0px;
	float:left;
	position: relative;
}

.b-admin__import-export-form .b-admin__form-controls {
	margin-top:10px;
	float:none;
}

.b-admin__edit-event .b-admin__form-controls {
	margin-top:0px;
}

.b-admin__form-control {
	margin:0 10px;
	color:#333;
	border-bottom: 1px dotted #333;
	text-decoration:none;
	cursor: pointer;
}

.b-admin_new-schedule .b-admin__form-control {
	color: #ccc;
	border-color: #ccc;
}

.b-admin__edit-event .b-admin__form-control_create {
	display:none;
}

.b-admin__edit-event_create .b-admin__form-control {
	display: none;
}

.b-admin__edit-event_create .b-admin__form-control_create {
	display: inline;
}

.b-admin__form-control:hover {
	color:#f00;
	border-bottom: 1px dotted #f00;
}

.b-admin__schedule_add_event {
	border:1px solid #333;
	border-radius: 50%;
	padding:0px 4px;
	line-height:10px;
	font:12px monospace;
	color:#333;
	text-align:center;
	cursor:pointer;
	position:absolute;
	top:-20px;
	right:5px;
}

.b-admin__schedule_add_event:hover {
	color:#f00;
	border-color: #f00;
}