.b-admin {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.b-admin_new-schedule {
}

.b-admin__edit-event {
	border:1px solid #7c1212;
	border-width: 1px 0;
	padding:10px 0;
	width:100%;
	position: absolute;
	bottom:10px;
}

.b-admin__create-new {
	font-size: 140px;
	color:#415F96;
	cursor:pointer;	
}

.b-admin__create-new:hover {
	color: #ccc;
}

.b-admin__edit-form {
	margin-top:40px;
	border:0px solid red;
	font-size:20px;
	display:none;
}

.b-admin__form-controls {
	margin-top:40px;
	font-size:16px;
}

.b-admin__edit-event .b-admin__form-controls {
	margin-top:0px;
	font-size:14px;
	text-align: center;
}

.b-admin__form-control {
	margin:0 10px;
	color:#ccc;
	border-bottom: 1px dotted #ccc;
	text-decoration:none;
	cursor: pointer;
}

.b-admin__edit-event .b-admin__form-control {
	color:#333;
	border-color: #333;
}

.b-admin__edit-event .b-admin__form-control_create {
	display:none;
}

.b-admin__edit-event_create .b-admin__form-control {
	display: none;
}

.b-admin__edit-event_create .b-admin__form-control_create {
	display: inline;
}

.b-admin__form-control:hover {
	color:#f00;
	border-bottom: 1px dotted #f00;
}

.b-admin__schedule_add_event {
	border:1px solid #333;
	border-radius: 50%;
	padding:0px 4px;
	line-height:10px;
	font:12px monospace;
	color:#333;
	text-align:center;
	cursor:pointer;
	position:absolute;
	top:-20px;
	right:5px;
}

.b-admin__schedule_add_event:hover {
	color:#f00;
	border-color: #f00;
}