.b-day {
	height:100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	float:left;
	border:0px dotted #777;
	border-width: 1px 0 0 1px;
	position:relative;
}

.b-day_weekend {
	background:rgba(255,0,0,0.16);
}

.b-day_skip {
	border-color:#aaa;
}

.b-day_current {
	background:rgba(0,0,255,0.16);
}

.b-day__header {
	border:0px solid red;
	font-size:16px;
	color:#333;
	height:20px;
	width:100%;
	text-align: left;
	padding:0px 0;
	position:absolute;
	top:-20px;
	left:0px;
}

.b-day_weekend .b-day__header {
	color:#f00;
}

.b-day_skip .b-day__header {
	color:#999;
}

.b-day_current .b-day__header {
	color:#00f;
}

.b-day__header-date {
	margin:5px;
	font-size:80%;
	color:#999;
}

.b-print {
	display:none;
}