.b-event {
	width:100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:33%;
	border:1px solid #7F80B5;
	border-radius: 5px;
	position: relative;
	background: #d4e4ef;
	cursor: pointer;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZTRlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NmFlY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4e4ef), color-stop(100%,#86aecc));
	background: -webkit-linear-gradient(top, #d4e4ef 0%,#86aecc 100%);
	background: -o-linear-gradient(top, #d4e4ef 0%,#86aecc 100%);
	background: -ms-linear-gradient(top, #d4e4ef 0%,#86aecc 100%);
	background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 );
}

.b-event__time {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:10% 10px;
	text-align: center;
	height:40%;
	border-bottom:1px solid #7F80B5;
}

.b-event__title {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:10% 10px;
	height:60%;
	text-overflow:ellipsis;
	overflow:hidden;
}