.b-header {
	height:20px;
	padding: 10px 0;
	border-bottom: 1px solid #333;
	background: #FCF6DC;
	color:#333;
	font-size:14px;
	box-shadow: 0 0 20px 0 #000;
	position:relative;
	text-align:right;
}

.b-header__admin-switch {
	float:right;
	margin:0 20px;
	border:0px solid red;
}

.b-header__admin-toggle {
	position: relative;
	top:2px;
}