.b-nav {
}

.b-nav__nav-unit {
	background: #ccc;
	box-shadow:0 0px 5px #333;
	height: 60px;
	width:60px;
	position: absolute;
	top:50%;
	margin-top:-30px;
	cursor:pointer;
}

.b-nav__nav-unit_left {
	left:0;
	border-radius: 50% 0 0 50%;
}

.b-nav__nav-unit_right {
	right:0;
	border-radius: 0 50% 50% 0;
}