
body {
	background:#fff;
	color:#000;
	padding:0px;
	font: 0.8em Arial,Helvetica,sans-serif;
}

.header_title {
	color:#000;
	margin-top:0;
}

.overlay {
	visibility:hidden;
}

.tabs {
	display:none;
}

.form_container {
	border:none;
	box-shadow:none;
}

.JS .form_title {
	display:block;
	border-bottom:1px solid #444;
	margin-left:0px;
}

.form_block {
	margin:50px 0px 0 0px;
}

.code {
	display:block;
	background:none;
	border-bottom:1px dotted #555;
	margin-bottom:10px;
}

.code pre {
	height:auto;
	overflow:hidden;
}

.code code {
	background:none;
	color:#555;
}

	