.b-admin, .b-event-info, .b-day__header, .b-event__title, .b-event__time, .b-progress {
	display: none;
}

.b-print {
	font-size:18px;
	display: block;
	border:0px solid red;
	margin:20px 0;
}

.b-print_header {
	border-bottom:1px solid #333;
	font-size:;
}

.b-print__day {
	display: block;
	border-bottom: 1px dotted #000;
	color:#f00;
}

.b-print__event {
	margin:10px 0 10px 40px;
}

.b-print__event-time {
	display: block;
}
